@import url('https://fonts.googleapis.com/css?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Miniver&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {font-family: "Shrek"; src: url("//db.onlinewebfonts.com/t/2179845ee578cd3bb30b55dc922bfb38.eot"); src: url("//db.onlinewebfonts.com/t/2179845ee578cd3bb30b55dc922bfb38.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2179845ee578cd3bb30b55dc922bfb38.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2179845ee578cd3bb30b55dc922bfb38.woff") format("woff"), url("//db.onlinewebfonts.com/t/2179845ee578cd3bb30b55dc922bfb38.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2179845ee578cd3bb30b55dc922bfb38.svg#Shrek") format("svg"); }

:root {
    --borderColor: #4C6DED;
    --borderSecondColor: #8EA5B3;
    --bgSecondColor: rgb(228, 246, 255);
    --bgMainColor: #e8fcff;
    --bgLightColor: #C4DCFE;
    --emphasisColor: #335469;
    --emphSecondColor: #536069;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red;
    box-sizing: border-box; */
}

html, body {
    background-color: var(--bgLightColor);
    overflow: hidden;
    height: 100%;
    font-family: 'Comic Sans MS', 'Comic Sans', serif;
    font-family: 'Miniver';
    font-family: 'Roboto';
    font-family: 'Shrek';
    font-family: 'Press Start 2P';
    font-family: 'Zen Dots';
    font-family: 'Silkscreen';
}

.battleArea {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40%;
}

#characterArea {
    padding: 1vh;
    animation: characterEntry 4s ease-out forwards;
}

#enemyArea {
    padding: 1vh;
    animation: enemyEntry 4s ease-out forwards;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.wrapperCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}

.wrapperCenter div {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.infosWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}

#characterInfos {
    justify-content: flex-start;
    align-items: flex-end;
}

.avatarWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}

#characterAvatar {
    justify-content: flex-start;
}

.infos {
    height: 100%;
    width: 100%;
}

.nameWrapper {
    padding: 1.6vh;
    /* border-bottom: var(--borderColor) 2pt solid; */
    border-radius: 2pt;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#enemyName {
    display: flex;
    justify-content: center;
    font-size: 4vh;
}

#characterName {
    display: flex;
    justify-content: center;
    font-size: 4vh;
}

.description {
    /* border: var(--borderColor) 1pt solid; */
    border-radius: 4pt;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
}

.description h4 {
    font-weight: normal;
    text-align: center;
    font-size: 3vh;
}

.description p {
    font-size: 2.5vh;
    padding: 0.5em;
}

.weakness {
    /* border: var(--borderColor) 1pt solid; */
    border-radius: 4pt;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
}

.weakness h4 {
    font-weight: normal;
    text-align: center;
    font-size: 3vh;
    animation: nome 5s reverse;
}

.weakness p {
    text-align: center;
    font-size: 2.5vh;
    padding: 0.5em;
}

#enemyHP {
    height: 10%;
    font-size: 4vh;
    text-align: center;
}

#characterHP {
    height: 10%;
    font-size: 4vh;
    text-align: center;
}

.healthArea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.healthBar {
    overflow: hidden;
    border: 1px solid var(--emphasisColor);
    border-radius: 8pt;
    background-color: var(--borderSecondColor);
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    width: 90%;
    height: 70%;
}

.health {
    width: 100%;
    height: 100%;
    border-radius: 8pt;
    background-color: lime;
    transition: width .4s ease-out;
}

.infoArea {
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* border: var(--borderColor) 2pt solid; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background: rgb(221,235,237);
    background: linear-gradient(90deg, var(--bgMainColor) 0%, var(--bgSecondColor) 100%);
    width: 70%;
    height: 80%;
    border-radius: 10pt;
}

#enemyArrow {
    transform: translateX(-1px);
    z-index: 1;
    width: 20%;
    height: 80%;
    border-radius: 2px;
    background-color: var(--bgSecondColor);
    clip-path: polygon(1% 31%, 14% 49%, 15% 50%, 14% 51%, 1% 69%, 0 70%, 0 30%);
}

#characterArrow {
    transform: translateX(1px);
    z-index: 1;
    width: 20%;
    height: 80%;
    border-radius: 2px;
    background-color: var(--bgMainColor);
    clip-path: polygon(99% 69%, 86% 51%, 85% 50%, 86% 49%, 99% 31%, 100% 30%, 100% 70%);
}

.infoCharacter {
    align-items: flex-start;
}

.avatar {
    background-color: white;
    border: var(--borderColor) 3pt solid;
    margin: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 70%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.imgAvatar {
    height: 100%;
}

#extras {
    background-color: white;
    box-sizing: border-box;
    border: var(--borderColor) 3pt solid;
    height: 16%;
}

#extras .action {
    background-color: var(--bgMainColor);
    border: var(--borderColor) 1pt solid;
    border-left: 0;
}

#atacar {
    transform: translateY(100vh);
    animation: ataque 2s ease-out forwards;
}
#dancar {
    transform: translateY(100vh);
    animation: ataque 2s ease-out forwards .3s;
}
#fugir {
    transform: translateY(100vh);
    animation: ataque 2s ease-out forwards .6s;
}
#especial {
    transform: translateY(100vh);
    animation: ataque 2s ease-out forwards .9s;
    border-right: none !important;
}

#actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#dialogueBox {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#dialogue {
    width: 95%;
    font-size: 4vh;
    padding: 0.3em 1em;
    letter-spacing: 0.1em;
}

#arrowArea {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5%;
}

#arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: piscaSeta 0.8s linear infinite;
}

#arrow img {
    width: 60%;
}

.action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: black;
    font-size: 4vh;
}

.selected {
    font-size: 6vh;
    /* font-weight: bold; */
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  background: url(https://goo.gl/OeVhun) center no-repeat;
  background-size: cover;
}

.blur-it {
  filter: blur(4px);
}

a.btn {
  width: 200px;
  padding: 18px 0;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  background: #e2525c;
}

.modal-wrapper {
    z-index: 999999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  background: rgba(41, 119, 171, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 600px;
  height: 400px;
  display: block;
  margin: 50% 0 0 -300px;
  position: relative;
  top: 50%; 
  left: 50%;
  background: #fff;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.head { 
  width: 90%;
  height: 32px;
  padding: 12px 30px;
  overflow: hidden;
  background: var(--borderColor);
}

.btn-close {
  font-size: 28px;
  display: block;
  float: right;
  color: #fff;
}

.content {
  padding: 10%;
}

.good-job {
  text-align: center;
  font-family: 'Montserrat', Arial,       Helvetica, sans-serif;
  color: var(--borderColor);
}
.good-job .fa-thumbs-o-up {
  font-size: 60px;
}
.good-job h1 {
  font-size: 45px;
}

@keyframes characterEntry {
    from {
        transform: translateX(200vw)
    }
    to {
        transform: translateX(0vw)
    }
}

@keyframes enemyEntry {
    from {
        transform: translateX(-200vw)
    }
    to {
        transform: translateX(0vw)
    }
}

@keyframes ataque {
    from {
        transform: translateY(100vh)
    }
    to {
        transform: translateY(0vw)
    }
}

@keyframes piscaSeta {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}