* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red;
    box-sizing: border-box; */
}

html, body {
    overflow: hidden;
    height: 100%;
    font-family: 'Comic Sans MS', 'Comic Sans', serif;
}

.battleArea {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40%;
}

#characterArea {
    animation: characterEntry 4s ease-out forwards;;
}

#enemyArea {
    width: 100%;
    animation: enemyEntry 4s ease-out forwards;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

.wrapperCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.infos {
    width: 100%;
}

#enemyName {
    display: flex;
    justify-content: center;
    margin: .5em 0;
    font-size: 2em;
}

.description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
}

.description:first-child {
    font-size: 1.5em;
}


.weakness {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}

.weakness:first-child {
    /* font-size: 1.5em; */
}

.healthBar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 7%;
    transition: width .4s ease-out;
}

#enemyHealthBar {
    flex-direction: row-reverse;
}

#enemyHealth {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: lime;
}

#characterHealth {
    display: flex;
    align-self: flex-start;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: lime;
}

.infoArea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 25%;
    height: 90%;
}

.infoCharacter {
    align-items: flex-start;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 70%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.character {
    height: 100%;
}

#extras {
    height: 20%;
}

#atacar {
    transform: translateY(100vh);
    animation: ataque 2s ease-out forwards;
}
#dancar {
    transform: translateY(100vh);
    animation: ataque 2s ease-out forwards .3s;
}
#fugir {
    transform: translateY(100vh);
    animation: ataque 2s ease-out forwards .6s;
}
#especial {
    transform: translateY(100vh);
    animation: ataque 2s ease-out forwards .9s;
}

#actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#dialogueBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#dialogue {
    width: 95%;
    font-size: 4vh;
    padding: 0.3em 1em;
    letter-spacing: 0.1em;
}

#arrowArea {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5%;
}

#arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: piscaSeta 0.8s linear infinite;
}

#arrow img {
    width: 60%;
}

.action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: black;
    font-size: 4vh;
}

.selected {
    font-size: 5vh;
    font-weight: bold;
}

.whiteSpace {
    height: 20%;
}

@keyframes characterEntry {
    from {
        transform: translateX(200vw)
    }
    to {
        transform: translateX(0vw)
    }
}

@keyframes enemyEntry {
    from {
        transform: translateX(-200vw)
    }
    to {
        transform: translateX(0vw)
    }
}

@keyframes ataque {
    from {
        transform: translateY(100vh)
    }
    to {
        transform: translateY(0vw)
    }
}

@keyframes piscaSeta {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}